body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background: grey;
    margin: 0;
    padding: 0;
}

.main {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    width: 100%;
    max-width: 980px;
    margin: 20px auto 80px;
    padding: 0 10px;
}